html {
  font-size: 17px;
  width: 1024px;
}

body {
}
/* background div */
#bg {
    width: 50%; 
    height: 100%; 
    position: fixed; 
    right: 25%;
    z-index: -1;
}

.stretch {
    width:100%;
    height:100%;
}

/* div for the coin selection */
#headsDiv {
  position: fixed;
  bottom: 17%;
  height: 12%;
  width:20%;
  left: 28.5%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 9px 5px 5px 0px rgba(50, 50, 50, 0.7);
  z-index: 1;
}

#tailsDiv {
  z-index: 1;
  position: fixed;
  bottom: 17%;
  height: 12%;
  width:20%;
  left:51.7%;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 9px 5px 5px 0px rgba(50, 50, 50, 0.7);
}

#heads {
  position: fixed;
  height: 9%;
  width: 8%;
  right: 58%;
  bottom: 19%;
}

#tails {
  position: fixed;
  height: 9%;
  width: 8%;
  bottom: 19%;
  right: 34.5%;
}

/* referee */
#refdiv {
  position: fixed;
  margin-left:27%;
  width:50%;
  height:50%;
  background-color: transparent;
  z-index: 1;
}

#refFlip {
  opacity: 0;
  position: fixed;
  height:30%;
  width:20%;
  top: 0%;
}

#gamePlandiv {
  position: fixed;
}

#gamePlan {
  position: fixed;
  width: 20%;
  top: 22%;
  left: 30.5%;
  font-family: impact;
  font-size: 2em;
}

/* header div and its text */
#header {
  position: fixed;
  display: block;
  top: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 12%;
  width: 50%;
  right: 24.85%;
  border: 2px dashed white;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 10px 5px 0px rgba(50, 50, 50, 0.7);
}

#headText {
  text-align: center;
  vertical-align: middle;
  line-height: 12%;  /* same as height of header */
  font-family: Futura;
  font-size: 3rem;
  color: White;
  text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.8);

}
/*footer div and its contents */
#footer {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: block;
  bottom: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  right: 24.85%;
  height: 10%;
  width: 50%;
  border: 2px solid black;
  box-shadow: 3px 10px 5px 0px rgba(50, 50, 50, 0.7);
  z-index: -1;
}

#msg {
  bottom: 12%;
  position: relative;
  text-align: center;
  line-height: 100%;
  font-family: Verdana;
  font-size: 1.2rem;
  color: white;
  text-shadow: 3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#year {
  bottom: 18px;
  position: relative;
  text-align: center;
  margin-bottom: 0%;
  line-height: 100%;
  font-family: Verdana;
  font-size: 1.2rem;
  color: white;
  text-shadow: 3px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* dialogue box and its text */
#dialogueDiv {
  position: fixed;
  left: 27.5%;
  top:22%;
  bottom:35%;
  width:45%;
  height:45%;
  padding: 0px;
  background-color: rgba(255, 255, 255, 0.8);
  border:3px solid black;
  box-shadow:  9px 5px 5px 0px rgba(50, 50, 50, 0.7);
  z-index: -1;
}

#dialogue {
  text-align: center;
  font-weight: bold;
  position: fixed;
  right: 26%;
  top:23%;
  bottom:35%;
  width:25%;
  height:20%;
  padding: 0px;
  background-color: transparent;
  border-radius: 2px;
}

/* #button{
  text-align:center;
  margin-bottom:500px;
} */

/* How to Play Popup */
#popupBG {
  display:none;
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  background-color: #FFFF00;
  z-index:1;
}

#popUp {
  display:none;
  position:fixed;
  height:50%;
  width:40%;
  right: 10%;
  background:#FFFFFF;
  border:3px solid black;
  z-index:2;
  padding:12px;
  font-size:13px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#popUp h1 {
  position: absolute;
  font-family: Verdana;
  text-align: center;
  color: black;
  font-size:1.5rem;
  font-weight:700;
  border-bottom:2px dotted #929292;
  bottom: 83%;
  width: 90%;
  margin-left: 2%;
  padding-bottom:0%;
}

.goH1 {
  height: 10%;
  width: 100%;
}

#winPic {
  position:fixed;
  height: 40%;
  width:40%;
  left: 31%;
  top: 30%;
}

#buttonPic {
  position:fixed;
  height: 15%;
  width:12%;
  left: 44%;
  top: 45%;
}

/* Lose Toss POPUP */
#popupBG2{
  display:none;
  height:100%;
  width:100%;
  position:fixed;
  top:0;
  left:0;
  z-index:1;
}

#popUp2 {
  display:none;
  position:fixed;
  height:50%;
  width:40%;
  right: 10%;
  background:#FFFFFF;
  border:3px solid black;
  z-index:2;
  padding:12px;
  font-size:13px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}

#winorlose {
  position: fixed;
  font-family: Verdana;
  text-align: center;
  color: black;
  font-size:1.3rem;
  font-weight:700;
  border-bottom:2px dotted #929292;
  top: 24%;
  width: 40%;
  left:30.5%;
}

.inpopUp {
  position: fixed;
  text-align: center;
  font-family: Verdana;
  font-size: 1rem;
  bottom: 60%;
  left: 40.1%;
}

/* proceed  button */
.divform {
  position: fixed;
  height: 10%;
  width: 50%;
  top: 73%;
  left: 48%;
}

.proceed {
}

/*RDY MSG*/
.rdy {
  font-family: Futura;
  position: fixed;
  text-align: center;
  font-size: 2rem;
  top: 38%;
  width: 40%;
  z-index:50;
  color: #666666;
}

/* Coin Image Hover */
/*#bigCoinDiv {
  position: fixed;
  height: 100%;
  width: 100%;
  border: none;
}

.bigCoin {
  z-index: 1;
  position: fixed;
  height: 40%;
  width: 30%;
  left: 43%;
} */

#ok {
  text-align: center;
  position: fixed;
  left: 46.2%;
}

#kickoff {
  text-align: center;
  position: fixed;
  left: 46.6%;
}

/* font and line height for certain <p>'s */

.textheight {
  line-height: 40%;
}

p {
  line-height: 1%;
}

br {
   line-height: 5%;
}

/* game mode */

#gameBG {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: -1;
    display: none;
}

#gameBG2 {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: -1;
    display: none;
}

#gameBG3 {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: -1;
    display: none ;
}

#gameBG4 {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    z-index: -1;
    display: none ;
}

#playerRun {
  position: fixed;
  width:4%;
  height: 6%;
  top:47.5%;
  left: 10%;
  display: none;
}

#playerKick {
  position: fixed;
  width:4%;
  height: 6%;
  top:47%;
  left: 21%;
  display: none;
}

#playerReceive {
  position: fixed;
  width:4%;
  height: 7%;
  top:48%;
  left: 80%;
  display: none;
}

#football {
  position: fixed;
  width:2%;
  height: 2%;
  top:50%;
  left: 23.5%;
  display:none;
}

#football2 {
  position: fixed;
  width:10%;
  height: 10%;
  top:35%;
  left: 50.5%;
  display:none;
}

#playerCatch {
  position:fixed;
  width: 30%;
  height: 70%;
  top:100%;
  left:21.5%;
  opacity:1;
}

#frontBall {
  position:fixed;
  width:2%;
  height: 5%;
  top:20%;
  left:38%;
  display:none;
}

#run {
  display:none;
  position: fixed;
  font-family: Futura;
  font-size: .5rem;
  left: 28%;
  top: 25%;
  font-color: black;
}

#runball {
  position:fixed;
  width: 8%;
  height: 15%;
  bottom:20%;
  left:5%;
  display:none;
}

#oppball {
  position:fixed;
  width: 8%;
  height: 15%;
  bottom:20%;
  left:90%;
  display:none;
}

#runball2 {
  position:fixed;
  width: 8%;
  height: 15%;
  bottom:20%;
  left:5%;
  display:none;
}

#lol {
  color: white;
  display:none;
  position:fixed;
  font-family: Futura;
  top: 18%;
  left: 30%;
  font-size: 4rem;
  text-shadow: 4px 4px 2px rgba(76, 78, 90, 1);
}

#halfway {
  color: white;
  display:none;
  position:fixed;
  font-family: Futura;
  top: 10%;
  left: 10%;
  width: 80%;
  font-size: 2rem;
  text-shadow: 4px 4px 2px rgba(76, 78, 90, 1);
}

#almost {
  color: white;
  display:none;
  position:fixed;
  font-family: Futura;
  top: 40%;
  left: 50%;
  font-size: 4rem;
  text-shadow: 4px 4px 2px rgba(76, 78, 90, 1);
}

#keep {
  color: white;
  display:none;
  position:fixed;
  font-family: Futura;
  top: 35%;
  left: 15%;
  font-size: 3rem;
  text-shadow: 4px 4px 2px rgba(76, 78, 90, 1);
}

#dive {
  position:fixed;
  width: 30%;
  height: 20%;
  top:20%;
  left:-20%;
  display: none;
}

#sack {
  position:fixed;
  width: 35%;
  height: 35%;
  top:55%;
  left:28.2%;
  display: none;
}

#lolball {
  position:fixed;
  width: 5%;
  height: 7%;
  top:55%;
  left:29.5%;
  display: none;
}


